    .top-nav {
        width: 100%;
        background-color: black;
        padding: 10px;
        color: white;
    }

    .top-nav a {
        text-decoration: none;
        color: white;
    }

    .main-container {
        display: flex;
        min-height: 500px;
    }

    .main-container aside {
        flex: 10%
    }

    .main-container main {
        flex: 70%;
    }

    footer {
        background-color: black;
        color: white;
        padding: 10px;
        text-align: center;
    }

    /* ----------------- Homepage ----------------------- */
    @media screen and (min-width: 600px) {

        .deck {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .card {
            border: 1px solid black;
            margin: 10px;
            padding: 5px;
        }

        .card-title {
            background-color: blue;
            padding: 5px;
            color: white;
            text-align: center;
        }
    }